<<<<<<< HEAD
.CONTENT			{border: groove;
					border-color:#cccccc;
					height:100%;
					width: 100%;
					padding: 2%;
					float:right;
					overflow:hidden;
					background-image:url("images/supra.png");}
					
.MENU				{background-color:#f2f2f2;
					opacity: 0.4;
					filter: alpha(opacity=40);
					height:20px;
					width:90%;
					margin:0px;
					margin-left:0px;
					margin-right:0px;
					padding:5px;
					padding-right:5px;
					text-align:right;}
					
.MAIN				{height:100%;
					width:90%;
					float:right;
					margin-top:10px;
					margin-right:40px;
					padding-left: 100px;
					overflow:auto;}
			
.FOOTER				{height:30px;
					width:100%;
					clear:both;
					padding:10px;
					padding-right:5px;
					margin-top:15%;
					margin-right:0px;
					position:relative;
					bottom:0;
					text-align:right;
					margin-bottom:0px;}
					
.BODY				{background-image:url("images/background.jpg");}
					
#nav				{text-align:center;}
					
.heading			{font-family:Georgia, Serif;
					text-align:center;}
#REPAIRMENU			{width:20%;
					margin-bottom:5px;
					border:groove;}
.ftelement			{height:30px;
					position:relative;
					bottom:0;
					padding:5px;
					margin-top:7%;}
.SubmitForm			{padding:20px;
=======
.CONTENT			{border: groove;
					border-color:#cccccc;
					height:100%;
					width: 100%;
					padding: 2%;
					float:right;
					overflow:hidden;
					background-image:url("images/supra.png");}
					
.MENU				{background-color:#f2f2f2;
					opacity: 0.4;
					filter: alpha(opacity=40);
					height:20px;
					width:90%;
					margin:0px;
					margin-left:0px;
					margin-right:0px;
					padding:5px;
					padding-right:5px;
					text-align:right;}
					
.MAIN				{height:100%;
					width:90%;
					float:right;
					margin-top:10px;
					margin-right:40px;
					padding-left: 100px;
					overflow:auto;}
			
.FOOTER				{height:30px;
					width:100%;
					clear:both;
					padding:10px;
					padding-right:5px;
					margin-top:15%;
					margin-right:0px;
					position:relative;
					bottom:0;
					text-align:right;
					margin-bottom:0px;}
					
.BODY				{background-image:url("images/background.jpg");}
					
#nav				{text-align:center;}
					
.heading			{font-family:Georgia, Serif;
					text-align:center;}
#REPAIRMENU			{width:20%;
					margin-bottom:5px;
					border:groove;}
.ftelement			{height:30px;
					position:relative;
					bottom:0;
					padding:5px;
					margin-top:7%;}
.SubmitForm			{padding:20px;
>>>>>>> 6ce9ec70183cf21b404cdaaf8bdcbb154fd9140c
					margin-left:20px;}